* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu ul {
    width: 100%;
    background-color: rgb(251, 251, 251);
    height: 80px;
    line-height: 80px;
    padding-left: 30px;  
    position: fixed;
    list-style-type: none;
}
.menu ul li {
    color: #f1f1f1;
	display: inline-table;
	width: 150px;
	height: 40px;
	line-height: 40px;
	position: relative;
}
.menu ul li a{
    text-decoration: none;
    display: block;
    text-align: center;
}
.menu ul li a:hover {
    color: rgb(255, 0, 0);
}
.cover{
    background-position: left;
}
.content {
    margin: 3%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(182, 179, 172);
}
.center {
    display: flex;
    margin: 3%;
}
.top{
    width: 50%;
    margin-left: 25%;
}
.right {
    margin-left: 20%;
    margin-top: 10%;
    width: 30%;
    font-size: larger;
}
.left {
}
.bottom {
    display: flex;
    margin: 3%;
}
.left1 {
    margin-right: 20%;
    margin-top: 10%;
    width: 30%;
    font-size: larger;
}
.footer {
    text-align: center;
    background-color: slategray;
    height: 100px;
    line-height: 100px;
}
.footer:hover{
    background-color: khaki;
}