.style1 {
    width: 100%;
    height: auto;
    text-align: center;
}

hr{
    width: 70%;
    height: 2px;
}

.gioithieu {
    /* width: 100%; */
    text-align: left;
    margin-left: 20%;
    font-family: sans-serif;
    font-style: italic;
    color: dimgrey
}

/* #style2 {
    width: 70%;
    text-align: left;
    margin-left: 18%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

ul {
    width: 79%;
    text-align: left;
    margin-left: 18%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
}

img {
   width: 480px;  
}
